<?xml version="1.0"?>
<PhysiCell_settings version="devel-version">

    <domain>
        <x_min>-1000</x_min>
        <x_max>1000</x_max>
        <y_min>-1000</y_min>
        <y_max>1000</y_max>
        <z_min>-1000</z_min>
        <z_max>1000</z_max>
        <dx>20</dx>
        <dy>20</dy>
        <dz>20</dz>
        <use_2D>true</use_2D>
    </domain>

    <overall>
        <max_time units="min">30.0</max_time>
        <time_units>min</time_units>
        <space_units>micron</space_units>
        <dt_diffusion units="min">0.01</dt_diffusion>
        <dt_mechanics units="min">0.1</dt_mechanics>
        <dt_phenotype units="min">6</dt_phenotype>
    </overall>

    <cell_definitions>
        <cell_definition name="malignant epithelial" ID="0">
            <phenotype>
                <volume>
                    <total units="micron^3">2494</total>
                    <fluid_fraction units="dimensionless">0.75</fluid_fraction>
                    <nuclear units="micron^3">540</nuclear>
                    <fluid_change_rate units="1/min">0.05</fluid_change_rate>
                    <cytoplasmic_biomass_change_rate units="1/min">0.0045</cytoplasmic_biomass_change_rate>
                    <nuclear_biomass_change_rate units="1/min">0.0055</nuclear_biomass_change_rate>
                    <calcified_fraction units="dimensionless">0</calcified_fraction>
                    <calcification_rate units="1/min">0</calcification_rate>
                    <relative_rupture_volume units="dimensionless">2.0</relative_rupture_volume>
                </volume>
                <mechanics>
                    <cell_cell_adhesion_strength units="micron/min">0.4</cell_cell_adhesion_strength>
                    <cell_cell_repulsion_strength units="micron/min">10.0</cell_cell_repulsion_strength>
                    <relative_maximum_adhesion_distance units="dimensionless">1.25</relative_maximum_adhesion_distance>
                    <cell_adhesion_affinities>
                        <cell_adhesion_affinity name="malignant epithelial">1</cell_adhesion_affinity>
                    </cell_adhesion_affinities>
                    <options>
                        <set_relative_equilibrium_distance enabled="false" units="dimensionless">1.8</set_relative_equilibrium_distance>
                        <set_absolute_equilibrium_distance enabled="false" units="micron">15.12</set_absolute_equilibrium_distance>
                    </options>
                    <cell_BM_adhesion_strength units="micron/min">4.0</cell_BM_adhesion_strength>
                    <cell_BM_repulsion_strength units="micron/min">10.0</cell_BM_repulsion_strength>
                    <attachment_elastic_constant units="1/min">0.01</attachment_elastic_constant>
                    <attachment_rate units="1/min">0.0</attachment_rate>
                    <detachment_rate units="1/min">0.0</detachment_rate>
                </mechanics>
                <motility>
                    <speed units="micron/min">1</speed>
                    <persistence_time units="min">1</persistence_time>
                    <migration_bias units="dimensionless">.5</migration_bias>
                    <options>
                        <enabled>false</enabled>
                        <use_2D>true</use_2D>
                        <chemotaxis>
                            <enabled>false</enabled>
                            <substrate>oxygen</substrate>
                            <direction>1</direction>
                        </chemotaxis>
                        <advanced_chemotaxis>
                            <enabled>false</enabled>
                            <normalize_each_gradient>false</normalize_each_gradient>
                            <chemotactic_sensitivities>
                                <chemotactic_sensitivity substrate="oxygen">0.0</chemotactic_sensitivity>
                                <chemotactic_sensitivity substrate="necrotic debris">0.0</chemotactic_sensitivity>
                                <chemotactic_sensitivity substrate="apoptotic debris">0.0</chemotactic_sensitivity>
                            </chemotactic_sensitivities>
                        </advanced_chemotaxis>
                    </options>
                </motility>
            </phenotype>
        </cell_definition>
    </cell_definitions>

    <solver>
        <name>openmp_solver</name>
    </solver>

</PhysiCell_settings>
