name: ASAN, LSAN, UBSAN, TSAN Build on Ubuntu

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        include:
          # ASAN, LSAN, UBSAN
          - os: ubuntu-latest
            workflow: llvm-debug
          # TSAN
          - os: ubuntu-latest
            workflow: llvm-relwithdebinfo

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20 all
          sudo ln -sf /usr/bin/clang++-20 /usr/bin/clang++
          sudo ln -sf /usr/bin/clang-20 /usr/bin/clang

    - name: Set up vcpkg with cache
      uses: ./.github/actions/setup-vcpkg
      with:
        os: ${{ matrix.os }}
        arch: ${{ runner.arch }}

    - name: Run CMake Workflow
      uses: lukka/run-cmake@v10
      with:
        workflowPreset: ${{ matrix.workflow }}
