name: ASAN, LSAN, UBSAN, TSAN Build on Ubuntu

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    env:
      # This is just a placeholder, vcpkg step will set it up
      VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/.vcpkg-cache

    strategy:
      fail-fast: false

      matrix:
        include:
          # ASAN, LSAN, UBSAN
          - os: ubuntu-latest
            workflow: llvm-debug
          # TSAN
          - os: ubuntu-latest
            workflow: llvm-relwithdebinfo

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20 all
          sudo ln -sf /usr/bin/clang++-20 /usr/bin/clang++
          sudo ln -sf /usr/bin/clang-20 /usr/bin/clang

    - name: Set up vcpkg
      uses: lukka/run-vcpkg@v11
      env:
        VCPKG_BINARY_SOURCES: default,readwrite

    - name: Set up binary cache
      uses: actions/cache@v4
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        # Invalidate cache when vcpkg manifests or overlay ports change
        key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json', 'ports-overlays/**') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-binary-cache-

    - name: Run CMake Workflow
      uses: lukka/run-cmake@v10
      with:
        workflowPreset: ${{ matrix.workflow }}
