name: CMake Build on Ubuntu, Windows, and MacOS

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        include:
          - os: ubuntu-latest
            preset: gcc-release-no-cuda
          - os: ubuntu-latest
            preset: llvm-release-no-cuda
          - os: macos-latest
            preset: appleclang-release
          - os: windows-latest
            preset: msvc-release-no-cuda

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install libomp
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libomp-dev

    - name: Install CUDA Toolkit
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'windows-latest'
      uses: jimver/cuda-toolkit@v0.2.29
      with:
        cuda: '12.6.2'
        method: 'network'
        sub-packages: '["nvcc", "cudart", "visual_studio_integration"]'

    - name: Set up vcpkg with cache
      uses: ./.github/actions/setup-vcpkg
      with:
        os: ${{ matrix.os }}

    - name: Run CMake consuming CMakePreset.json and run vcpkg to build packages
      uses: lukka/run-cmake@v10
      with:
        workflowPreset: ${{ matrix.preset }}
